.yc-query-date {
  display: inline;
  position: relative;
  &-picker {
    margin-bottom: 15px;
    .el-range__icon {
      line-height: 24px;
    }
    .el-range-separator {
      line-height: 24px;
    }
    .el-range__close-icon {
      line-height: 24px;
    }
    .input-style {
      position: absolute;
      width: 99px;
      height: 24px;
      background: #fff;
      font-size: 14px;
      line-height: 24px;
      color: #20242E;
      text-align: center;
      border: none;
    }
    input::-webkit-input-placeholder {
      /* WebKit browsers */
      color: #b2b8c9;
    }
    .left {
      left: 30px;
    }
    .right {
      right: 35px;
    }
  }
}
.date-picker-kp {
  .el-picker-panel__sidebar {
    width: 120px;
  }
}
