.yc-query-date {
  display: inline;
  position: relative;
  &-picker {
    margin-bottom: 15px;
    .el-range__icon {
      line-height: 24px;
    }
    .el-range-separator {
      line-height: 24px;
    }
    .el-range__close-icon {
      line-height: 24px;
    }
  }
  .input-style {
    position: absolute;
    width: 99px;
    height: 24px;
    top: 0px;
    background: #fff;
    font-size: 14px;
    line-height: 24px;
    color: #b2b8c9;
    text-align: center;
    .el-input__inner {
      height: 24px;
      line-height: 24px;
      border: none;
      text-align: center;
      padding: 0;
    }
    .el-input__inner:focus {
      box-shadow: none;
    }
  }
  .left {
    left: 30px;
  }
  .right {
    right: 35px;
  }
}
