@mixin tips-box{
  width: 328px;
  border: 1px solid #C5C7CE;
  border-radius: 2px;
  line-height: 21px;
  padding: 6px 0;
}
@mixin val-length{
  position: absolute;
  bottom: 8px;
  right: 12px;
  color: #7D8699;
  font-size: 12px;
  line-height: 12px;
}
@mixin scoll-style{
  &::-webkit-scrollbar {
    width:4px;
  }
  &::-webkit-scrollbar-track {
    width: 4px;
    background-color:#FFF;
  }
  &::-webkit-scrollbar-thumb {
    background-color:#B2B8C9;
    background-clip:padding-box;
    min-height:49px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius:5px;
  }
  &::-webkit-scrollbar-thumb:hover{
    background-color:#B2B8C9;
  }
  &::-webkit-scrollbar-track:hover{
    background-color:#E2E4E9;
  }
}
.audit-management-container{
  background: #f0f2f5 !important;
  display: flex;
  min-height: 89vh !important;
  padding-bottom: 10px !important;
  .content{
    display: flex;
    position: relative;
    &-left{
      min-width: 280px;
      background: #fff;
      min-height: 100%;
      margin-right: 20px;
      &-tree{
        padding: 20px 0 20px 20px;
        &-query{
          padding-right: 20px;
          .select-trigger{
            .iconsousuo{
              font-size: 14px;
              margin-left: 4px;
            }
          }
        }
        &-tabs{
          padding-right: 20px;
          &-content{
            padding: 3px ;
            border-radius: 2px;
            border: 1px solid #296DD3;
            .el-radio-group{
              .el-radio-button{
                .el-radio-button__inner{
                  border: none;
                  width:116px;
                  border-radius:  2px;
                  height: 28px;
                  padding: 0;
                  line-height: 28px;
                  font-size: 16px;
                }
              }
              .is-active{
                .el-radio-button__inner{
                  font-weight: bold;

                }
              }
            }
          }
        }
        &-list{
          margin-top: 16px;
          overflow: auto;
          position: relative;
          @include scoll-style;
          &-title{
            display: flex;
            align-items: center;
            font-weight: bold;
            line-height: 18px;
            .active{
              color: #296DD3;
            }
          }
          &-content{
            margin: 24px 0 0 8px;
            .el-timeline{
              &-item{
                height: 28px;
                &:first-child{
                  &::before{
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 19px;
                    background: #C5C7CE;
                    top: -19px;
                    left: 0px;
                  }
                }
                &__tail{
                  border-left: 1px solid #C5C7CE ;
                  left: 0;
                }
                &__wrapper{
                  top: -17px;
                  padding-left: 8px;
                }
                &__content{
                  padding: 7px 0 7px 10px;
                  &:hover{
                    background: #EEF1F7;
                  }
                }
              }
            }
            .active{
              .el-timeline-item{
                &__content{
                  color: #296DD3;
                }
                &__dot{
                  b{
                    background: #296DD3 !important;
                  }
                }
              }
            }
          }
        }
        &-no-data{
          text-align: center;
          padding-right: 20px;
          margin-top: 62px;
          p{
            margin-top:12px;
            color: #7D8699;
            font-size: 14px;
          }
        }
      }
    }
    &-right{
      flex: 1 !important;
      background: #fff;
      padding: 20px;
      min-width: 1312px;
      box-sizing: border-box;
      height: 89vh;
      overflow: auto;
      @include scoll-style;
      position: relative;
      &-query{
        border-bottom: 1px solid #E2E4E9;
        .line{
          min-width: 1200px;
          .switch{
            color: #296DD3;
            margin-left: 12px;
            &:hover{
              color: #2E7BED;
            }
          }
          .el-form-item{
            &:last-child{
              margin-right: 0px;
            }
          }
          .section-date{
            .el-date-editor{
              .el-range{
                &__icon,&__close-icon{
                  line-height: 26px;
                }
                &-separator{
                  line-height: 24px;
                }
              }
            }
          }
        }
        .el-form-item{
          margin: 0 20px 16px 0;
          &__label{
            line-height: 32px !important;
          }
          &__content{
            line-height: 32px !important;
          }
          .el-input--suffix .el-input__inner{
            padding-right: 14px !important;
          }
        }
        .time-end{
          .el-form-item__label{
            margin: 0 6px;
          }
        }
        .query-action{
          margin-left: 6px;
        }
      }
      &-table{
        &-tabs{
          position: sticky;
          top: -20px;
          z-index: 100;
          background: #fff;
        }
        .el-table{
          overflow: visible;
          .el-table__header-wrapper{
            position: sticky;
            top: 40px;
            z-index: 10;
          }
        }
        &-list{
          .el-table__body{
            tbody{
             tr{
               td{
                 vertical-align: top !important;
                 padding-top: 15px;
               }
              }
            }
          }
          .action-column{
            display: flex;
            flex-direction: column;
            position: relative;
            align-items: center;
            top: -3px;
            .el-button{
              width: 72px;
              margin-bottom: 12px;
            }
            .top{
              margin-bottom: 6px;
            }
            .middle {
              margin-left: 0 !important;
            }
            .btm{
              margin-left: 0 !important;
              padding: 0;
            }
          }
        }
      }
    }
    &-modal{
      .el-textarea__inner{
        width: 328px !important;
        max-height: 370px;
        @include scoll-style
      }
      .recall-modal{
        padding: 32px 32px 20px;
        &-body{
          margin-left: 38px;
          div{
            display: flex;
            .label{
              min-width: 98px;
            }
          }
          &-type{
            align-items: center;
            margin: 28px 0 22px;
            .el-radio{
              margin-right:30px;
              line-height: 19px;
              &__label{
                padding-left: 7px;
              }
            }
          }
          &-desc{
            position: relative;
            .el-textarea__inner{
              width: 356px !important;
            }
            .val-length{
              position: absolute;
              bottom: 8px;
              right: 12px;
              color: #7D8699;
              font-size: 12px;
              line-height: 12px;
            }

          }
        }
      }
      .no-push-modal{
        padding: 32px 32px 20px;
        &-body{
          margin-left: 38px;
          .label{
            min-width: 70px;
          }
          &-title{
            margin: 24px 0 22px;
            display: flex;
          }
          &-remark{
            position: relative;
            display: flex;
            .val-length{
              @include val-length
            }
          }
          &-tips{
            display: flex;
            margin-top: 24px;
            .tips-box{
              @include tips-box;
              p{
                padding: 0 12px;
                color: #4E5566;
                &:hover{
                  background-color: #EFF5FF;
                }
              }
            }
          }
        }
      }
      .push-modal{
        &-header{
          height: 56px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 20px;
          border-bottom: 1px #E2E4E9 solid;
          font-weight: bold;
          font-size: 16px;
          .el-icon{
            font-size: 24px;
            color: #7D8699;
            &:hover{
              color: #20242E;
            }
          }
        }
        &-body{
          padding:28px 34px 20px 68px;
          .flex{
            display: flex;
            .label{
              min-width:70px;
            }
          }
          &-desc{
            .el-textarea__inner{
              max-height: 190px;
            }
            position: relative;
            margin-top: 20px;
            .val-length{
              @include val-length
            }
          }
          &-type{
            margin-top: 20px;
          }
          &-level{
            margin-top: 18px;
            align-items: center;
            .el-radio{
              line-height: 19px;
            }
          }
          &-tips{
            margin-top: 22px;
           .tips-box{
             height: 280px;
             overflow: auto;
             box-sizing: border-box;
             @include tips-box;
             @include scoll-style;
             &-item{
               margin-bottom: 6px;
               .title{
                 font-weight: bold;
                 padding: 0 12px;
               }
               p{
                 color: #4E5566;
                 padding: 5px 12px;
                 &:hover{
                   background-color: #EFF5FF;
                 }
               }
             }
           }
          }
        }
      }
      .pushConfirm,.reCall{
        .el-dialog__footer{
          padding-bottom: 32px !important;
        }
      }
      .push-confirm-modal{
        padding:32px 32px 20px;
        &-body{
          padding-left: 38px;
          &-level{
            margin-top: 24px;
          }
          &-remark{
            margin-top: 18px;
            display: flex;
            div{
              line-height: 21px;
            }
          }
          .label{
            min-width: 70px;
            position: relative;
            &:before{
              content: '';
              position: absolute;
              width: 5px;
              height: 5px;
              background: #20242E;
              left: -14px;
              border-radius: 50%;
              top: 8px;
            }
          }
        }
      }
    }
  }
}
.content-left-tree-query-select{
  .el-select-dropdown__item{
    width: 240px !important;
  }
}
