.yc-source-web {
  width: 1200px;
  margin: 20px auto 40px;
  min-height: 96vh;
  background: #fff;
  padding: 40px 40px 60px;
  &-title {
    margin-bottom: 40px;
    .source-title {
      font-weight: 600;
      font-size: 22px;
      line-height: 22px;
    }
  }
  &-content {

  }
}
