.report-dialog-class {
  .el-dialog__body {
    padding-top: 24px !important;
    padding-bottom: 16px !important;
  }
}
.report-modal-form {
  .el-form-item {
    margin-bottom: 24px;
  }
  .el-form-item__label {
    line-height: 32px;
  }
  .el-form-item__content {
    line-height: 32px;
    .report-date {
      .el-range__icon {
        line-height: 24px;
      }
      .el-range-separator {
        line-height: 24px;
      }
      .el-range__close-icon {
        line-height: 24px;
      }
    }
  }
  .update-time {
    display: flex;
    align-items: center;
    .el-form-item {
      margin-bottom: 0px;
    }
  }
  .time-form {
    label:first-child {
      position: relative;
      &:before {
        content: '*';
        color: #f93535;
        position: absolute;
        top: 0;
        left: 38px;
      }
    }
  }
  .time-report-form {
    label:first-child {
      position: relative;
      &:before {
        content: '*';
        color: #f93535;
        position: absolute;
        top: 0;
        left: 86px;
      }
    }
    .el-icon-date {
      color: #7d8699;
    }
  }
  .all-data-type {
    .el-form-item__label {
      margin-top: 8px;
    }
  }
  .zcjk-rules-box {
    padding: 5px 0 16px 16px;
    width: 496px;
    border-radius: 2px;
    border: 1px solid #c5c7ce;
    &-item {
      line-height: 20px !important;
      &-moduleType {
        font-weight: bold;
        margin: 8px 0;
        .el-checkbox__label{
          color: #20242E!important;
        }
      }
      .el-checkbox {
        min-width: 118px;
        line-height: 20px !important;
        margin-right: 0;
        &__label {
          padding-left: 8px;
        }
      }
      &-moduleList {
        padding-left: 22px;
        .el-checkbox__label{
          color: #4E5566!important;
        }
      }
    }
  }
}
