.report-modal-form {
  .el-form-item__content {
    .report-date {
      .el-range__icon {
        line-height: 24px;
      }
      .el-range-separator {
        line-height: 24px;
      }
      .el-range__close-icon {
        line-height: 24px;
      }
    }
  }
  .zcjk-rules-box {
    padding: 5px 0 16px 16px;
    width: 450px;
    border-radius: 2px;
    border: 1px solid #c5c7ce;
    &-item {
      line-height: 20px !important;
      &-moduleType {
        font-weight: bold;
        margin: 8px 0;
        .el-checkbox__label{
          color: #20242E!important;
        }
      }
      .el-checkbox {
        min-width: 105px;
        line-height: 20px !important;
        margin-right: 0;
        &__label {
          padding-left: 8px;
        }
      }
      &-moduleList {
        padding-left: 22px;
        .el-checkbox__label{
          color: #4E5566!important;
        }
      }
    }
  }
}
.data-modal-form {
  .update-time {
    display: flex;
    align-items: center;
  }
}
