.monitor-view-wrapper *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.monitor-view-wrapper{
  padding: 20px;
  background-color: #EEF1F7;
  display: flex;
  flex-wrap: wrap;
  .el-radio-button__inner{
    padding: 9px 15px!important;
    font-weight: normal!important;
    border-color: #DDE0E7!important;
    box-shadow: unset!important;
  }
  .el-radio-button:first-child .el-radio-button__inner{
    border-radius: 2px 0px 0px 2px!important;
  }
  .el-radio-button:last-child .el-radio-button__inner{
    border-radius: 0 2px 2px 0!important;
  }
  .el-radio-button__orig-radio:checked + .el-radio-button__inner{
    color: #296DD3!important;
    background-color: #E7F1FF!important;
    border-color: #E7F1FF!important;
    &~.el-radio-button__inner{
      border-color: #DDE0E7!important;
    }
  }
  .monitor-view-container{
    width: calc((100% - 20px) / 2);
    height: 413px;
    margin: 0 20px 20px 0;
    &-down{
      background-color: #fff;
      border-radius: 2px;
      height: 262px;
      margin-top: 20px;
      &-content{
        display: flex;
        justify-content: space-evenly;
        padding: 40px;
        .desc{
          display: flex;
          .left{
            text-align: right;
            font-size: 14px;
            line-height: 14px;
            color: #7D8699;
            div:last-child{
              margin-top: 72px;
            }
            img{
              width: 14px;
              height: 14px;
              margin-right: 4px;
            }
            i{
              font-size: 14px;
              margin-right: 4px;
            }
          }
          .right{
            .weight{
              font-size: 20px;
              font-weight: bold;
              line-height: 20px;
              color: #20242E;
            }
          }
        }
      }
    }
    &-up{
      display: flex;
      .left{
        margin-right: 20px;
      }
      .left,.right{
        background-color: #fff;
        border-radius: 2px;
        padding: 30px;
        width: 400px;
        display: flex;
        img{
          width: 70px;
        }
        &>div+div{
          margin-left: 20px;
        }
        .desc{
          font-size: 14px;
          color: #7D8699;
          line-height: 14px;
          margin-top: 10px;
          img{
            width: 14px;
            vertical-align: -2px;
            margin-left: 4px;
          }
          &+div{
            color: #20242E;
            margin-top: 16px;
            .light{
              color: #7D8699;
              font-size: 14px;
            }
          }
        }
        .num{
          font-size: 24px;
          font-weight: bold;
          line-height: 24px;
          position: relative;
        }
        .scroll-prefix{
          font-size: 16px;
          font-weight: normal;
          color: #20242E;
        }
      }
    }
    &:nth-child(2n){
      margin-right: 0;
    }
    &-head{
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      border-bottom: 1px solid #DDE0E7;
      .title{
        font-weight: bold;
        color: #20242E;
        line-height: 56px;
        span{
          font-size: 12px;
          color: #7D8699;
          margin-left: 12px;
        }
      }
      .el-form-item{
        margin-bottom: 0;
        margin-top: 8px;
        height: 32px;
      }
      .el-radio-group{
        margin-top: 12px;
      }
    }
    &-content{
      height: 356px;
      &.relative{
        position: relative;
        .legend-custom{
          position: absolute;
          top: 16px;
          right: 30px;
          font-size: 14px;
          color: #4E5566;
          .before{
            margin-left: 40px;
            &::before{
              width: 7px;
              height: 7px;
              vertical-align: 1px;
            }
          }
          img{
            margin-left: 4px;
            vertical-align: -2px;
          }
        }
        .x-unit{
          position: absolute;
          right: 16px;
          bottom: 53px;
          font-size: 12px;
          color: #7D8699;
        }
      }
      .echarts-block {
        height: 316px;
      }
      p{
        font-size: 12px;
        line-height: 12px;
        color: #FD4D4F;
        text-align: center;
        margin-bottom: 28px;
      }
    }
  }
  .monitor-view-container~.monitor-view-container{
    background-color: #fff;
    border-radius: 2px;
  }
  .el-progress-bar__innerText{
    width: 100%;
    .percentage-label{
      font-size: 14px;
      color: #7D8699;
      margin-bottom: 5px;
    }
    span{
      font-size: 20px;
      font-weight: bold;
      color: #20242E;
    }
  }
  .tooltip-custom{
    div~div{
      margin-top: 5px;
    }
  }
  .before{
    &::before{
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-right: 5px;
      border-radius: 50%;
    }
    &.blue::before{
      background-image: linear-gradient(#5BB4F7, #3180EC);
    }
    &.green::before{
      background-image: linear-gradient(#5BDFC6, #1BBA7C);
    }
    &.yellow::before{
      background-image: linear-gradient(#FEB754, #FF871C);
    }
    &.red::before{
      background-image: linear-gradient(#FF8C8D, #FF3134);
    }
  }
}