.structure-check-wrapper{
  .main-content{
    padding: 20px;
    .part{
      line-height: 20px;
      font-size: 14px;
      margin-bottom: 20px;
      h4{
        font-weight: bold;
        border-left: 3px solid #296DD3;
        padding-left: 8px;
        margin-bottom: 16px;
        font-size: 16px;
      }
      ul{
        li{
          display: flex;
          margin-bottom: 8px;
          div{
            &:first-child{
              min-width: 114px;
              text-align: right;
            }
            &:last-child{
              p{
                margin-bottom: 3px;
              }
            }
            .area-field{
              display: inline-block;
              margin-top: -5px;
            }
          }
        }
        .title{
          font-size: 16px;
        }
        .remark{
          div{
            &:last-child{
              color: #F93535;
            }
          }
        }
      }
    }
    &-top{
      display: flex;
      flex-wrap: wrap;
      position: relative;
      .action-button{
        &:first-child {
          right: 108px;
          padding: 0 17px;
        }
        position: absolute;
        right: 0;
        padding: 0 12px;
        min-width: 72px;
      }
    }
    &-modal{
      .el-dialog{
        &__body{
          padding: 32px 32px 20px!important;
        }
        &__footer{
          padding: 20px 32px 32px 0 !important;
        }
      }
      &-body{
        display: flex;
        padding-left: 38px;
        margin-top: 32px;
        position: relative;
        .label{
          min-width: 42px !important;
          color: #20242E;
          line-height: 32px;
        }
        .val-length{
          position: absolute;
          bottom: 8px;
          right: 12px;
          color: #7D8699;
          font-size: 12px;
          line-height: 12px;
        }
      }
    }
    .el-table__empty-text{
      padding: 120px 0 100px 0;
    }
  }
}
