.monitor-table {
  .table-content-btn {
    padding: 1px 0 12px 0;
    .el-button + .el-button {
      margin-left: 0px !important;
    }
    .total-tips {
      font-size: 14px;
      padding-left: 20px;
      color: #4e5566;
      b {
        color: #20242e;
      }
    }
  }
  .el-table .cell {
    padding-left: 30px !important;
  }
  .el-table__header-wrapper {
    .el-table-column--selection {
      .cell {
        padding-left: 20px !important;
      }
    }
  }
  .row-class {
    position: relative;
    td {
      padding: 20px 0;
      vertical-align: top;
    }
    .el-table-column--selection {
      .cell {
        padding-left: 20px !important;
      }
    }
  }
}
