@import "element-variables";
@import "font/iconfont.css";
html,body{
  width: 100%;
  overflow-x: auto;
}
body, ul, li, dl, dt, dd, p, ol, h1, h2, h3, h4, h5, h6, form, img, table, fieldset, legend {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
}

ul, li, ol {
  list-style: none;
}

img, fieldset {
  border: 0;
}

a {
  text-decoration: none;
}

input, a {
  outline: none;
}
a{
  color: #296DD3;
}
i,b{
  font-style: normal;
}
@mixin ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.yc-ellipsis{
  -webkit-line-clamp: 1;
  @include ellipsis
}
.yc-ellipsis-two {
  -webkit-line-clamp: 2;
  @include ellipsis
}

.yc-line {
  border-top: 1px solid #e2e4e9;
}

.yc-confirm-modal{
  &-title{
    display: flex;
    font-size: 16px;
    color: #20242E;
    font-weight: bold;
    img{
      width: 24px;
      height: 25px;
      margin-right: 13px;
      position: relative;
      top: -1px;
    }
  }
  &-body{
    margin-top: 5px;
    line-height: 21px;
    color: #4E5566;
    padding-left: 38px;
  }
}

.yc-custom-modal{
  .el-dialog{
    &__header{
      border-bottom: none;
      height: unset;
      font-weight: normal;
    }
    &__body{
      padding-top: 0 !important;
      .el-textarea__inner{
        min-height: 92px !important;
        font-family: Microsoft YaHei, PingFangSC-Regular, PingFang SC, Helvetica, Arial, sans-serif;
      }
    }
    &__footer{
      border-top: none !important;
    }
  }
}

.bold-text{
  font-weight: bold;
  color: #20242e;
  font-size: 16px;
}

.cursor-pointer{
  cursor: pointer;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

textarea{
  resize: none !important;
}

.yc-scoll-style{
  &::-webkit-scrollbar {
    width:4px;
  }

  //外层轨道。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果
  &::-webkit-scrollbar-track {
    width: 4px;
    background-color:#FFF;
  }

  //滚动条的设置
  &::-webkit-scrollbar-thumb {
    background-color:#B2B8C9;
    background-clip:padding-box;
    min-height:49px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius:5px;
  }
  //滚动条移上去的背景

  &::-webkit-scrollbar-thumb:hover{
    background-color:#B2B8C9;
  }
  &::-webkit-scrollbar-track:hover{
    background-color:#E2E4E9;
  }
}
.tree-popover.is-light {
  width: 75px !important;
  min-width: unset !important;
  padding: 13px 20px !important;
}
