@mixin scroll-style {
  //滚动条的宽度
  &::-webkit-scrollbar {
    width:4px;
  }

  //外层轨道。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果
  &::-webkit-scrollbar-track {
    width: 4px;
    background-color:#FFF;
  }

  //滚动条的设置
  &::-webkit-scrollbar-thumb {
    background-color:#B2B8C9;
    background-clip:padding-box;
    min-height:49px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius:5px;
  }
  //滚动条移上去的背景

  &::-webkit-scrollbar-thumb:hover{
    background-color:#B2B8C9;
  }
  &::-webkit-scrollbar-track:hover{
    background-color:#fff;
  }
}
